{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body>
    <div class="post-list-container">
        {% for post in posts %}
            {% if post.published_recently %}
                <div class="post-item">
                    <h2 class="post-title">
                        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    </h2>
                    <p class="post-date">Published on: {{ post.published_date }}</p>
                    <p class="post-author">
                        Author: <a href="{% url 'posts_by_author' author_id=post.author.id %}">{{ post.author.name }}</a>
                    </p>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>